/* body{ */
    /* width: 400px; */
    
/* }  */
header, main, nav, footer{
    margin:auto;
    width: 500px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*:root {
    --primary-color: #444444;
} */
header{
    display:flex;
    width:500px;
    margin:auto;
    background-color: royalblue;;
    color: rgb(255, 255, 255);
    padding: 2rem;
    align-items: center;
    gap: 2rem;
}
header img{
    width: 275px;
    margin: 10px;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}
ul{
    text-align:center;
    padding-left:0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}
main > h2{
    text-align:center;
}
.card {
    border: 1px solid black;
}
.card h3{
    text-align:center;
}

nav {
    width: 100%;
}

nav ul li {
    padding: 1rem;
    text-align: center;
    background: rgb(69, 69, 69);
}

nav ul li a {
    color: rgb(0, 244, 255);
    text-decoration: none;
    font-weight: 600;
}